export(detectF)
export(est.abundance.from.sim)
export(est.abundance.whales)
export(make.atten.f)
export(nupoint.boot)
export(nupoint.env.boot)
export(nupoint.env.fit)
export(nupoint.env.gof)
export(nupoint.env.simulator)
export(nupoint.fit)
export(nupoint.gof)
export(nupoint.p.star)
export(nupoint.vol.density)
